@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nosifer&family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
body {
    background-image: url('yisus.gif');
    background-size:120%;
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 30px; 
    color: rgb(235, 227, 2);
    background-color: rgba(24, 252, 241, 0.085);
    padding: 18px;
    border: 5px dotted rgb(235, 227, 2);
    border-radius: 30px;
    }

button {
    background-color:  #5359cf;
    color:  #f8f8f8;
    padding: 10px 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Bungee Shade', sans-serif;
    font-size: 20px;
}

button:hover {
    background-color: rgba(24, 164, 164, 0.925);
    color:  #f8f8f8;
    border: 3px dotted #ffffff;
}

#cartones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px;
    background-color: #5359cf;
    box-shadow: 0 4px 8px rgba(10, 145, 140, 0.925);
}

th, td {
    border: 3px dashed #ddd;
    padding: 10px;
    text-align: center;
    font-family: 'Bungee Shade', sans-serif;
    font-weight: bold;
    color:white;
}

th {
    background-color: #4caf50;
    color: white;
}

#numerosLlamados {
    margin-top: 20px;
    width:fit-content;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    background-color:  #5359cf;
    border-radius: 10px;
    gap:10px;
    font-family: 'Bungee Shade', sans-serif;
    padding:8px;
    border: 3px dotted #ffffff;
}

